.col-md-2 {

    margin-left: -30px;
    
    border: 0px outset #3c92c4;
    
    background-color: #3c92c4;

    backface-visibility: hidden;
}
.Main {
    background-image: url("../images/docdash.png");
    background-repeat: no-repeat;
    background-size: cover;

  }